.footer {
    min-height: 383px;
    padding: 62px 0 40px 0;
    background-color: #373838;
    &__links {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        list-style-type: none;
        margin: 0 auto;
        width: 729px;
    }
    &__link {
        color: #939393;
        font-family: "Roboto Slab Regular";
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        &:hover {
            color: #f1efec;
        }
    }
    &__icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        img {
            display: block;
            margin: 0 auto;
            margin-top: 10px;
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 140px;
        margin-top: 17px;
    }
    &__subtitle {
        color: #c6c6c6;
        font-family: "Roboto Slab Regular";
        font-size: 18px;
        font-weight: 400;
    }
    &__contacts {
        color: #848484;
        font-family: "Open Sans Regular";
        font-size: 14px;
        font-weight: 400;
        margin-top: 17px;
        text-align: right;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__rights {
        color: #777777;
        font-family: "Roboto Slab Regular";
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }
}

hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 53px;
    margin-bottom: 42px;
}

.blue {
    background-color: #3b5997;
}
.lightblue {
    background-color: #3ec2f3;
}
.red {
    background-color: #e44c41;
}
.contact {
    text-align: right;
}