.items {
    &__form {
        margin-top: 25px;
        display: flex;
        justify-content: flex-end;
    }
    &__email {
        width: 274px;
        height: 44px;
        background-color: #5ec069;
        border: none;
        padding: 14px 0 13px 23px;
        color: #46a651;
        font-family: 'Roboto Regular';
        font-size: 16px;
        font-weight: 400;
    }
    &__submit {
        width: 123px;
        height: 44px;
        background-color: #348e3e;
        border: none;
        color: #ffffff;
        font-family: 'Roboto Regular';
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }
}

.footer {
    &__form {
        display: flex;
        margin-top: 17px;
    }
    &__email {
        width: 201px;
        height: 40px;
        background-color: #494949;
        padding: 13px 0 13px 19px;
        border: none;
    }
    &__submit {
        width: 123px;
        height: 40px;
        background-color: #9b242d;
        color: #ffffff;
        font-family: 'Roboto Regular';
        font-size: 16px;
        font-weight: 400;
        border: none;
        cursor: pointer;
    }
}