.header {
    min-height: 603px;
    padding: 228px 0 184px 0;
    background: url('../img/bg_header.png') center/cover;
    &__main {
        color: #ffffff;
        font-family: "Roboto Slab Bold";
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        span {
            font-family: "Roboto Slab Light";
            font-size: 24px;
            font-weight: 300;
        }
    }
    &__donate {
        display: block;
        margin: auto;
        margin-top: 53px;
        width: 269px;
        height: 57px;
        border: 6px solid rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
        color: #46a651;
        font-family: "Open Sans Bold";
        font-size: 26px;
        font-weight: 700;
        border-radius: 16px;
        cursor: pointer;
    }
}